node_modules/
.pnpm-store/

.env
.env.local
.env.*.local

dist/
build/
.next/
out/
.turbo/

*.log
npm-debug.log*
pnpm-debug.log*

.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store
Thumbs.db

*.tsbuildinfo

coverage/

.docker-data/
ssh.png
ssh-public-key.md
